---
---

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: Proggy;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,a:visited{
    text-decoration: none;
    color: #222222;
}
a:hover,a:active{
    text-decoration: none;
    color: orangered;
}

li{
    list-style-type: none;
}

img{
    border: 0;
}