---
---

.page {
    margin: 0 auto;
    padding: 20px;
    padding-top: 2.6em;
    max-width: 960px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .masthead{
        position: relative;

        #title{
            padding-left: 0;
            font-size: 0.9em;
            line-height: 0.9em;
            letter-spacing: 0.4em;
            color: #666666;
           
        }
        .social-list{
            position: absolute;
            top: -4px;
            right: 0;
        }
    }

    .container{
        padding-top: 1em;
        
        p{
            font-size: 0.825em;
            letter-spacing: 0.05em;
            line-height: 1.4em;
            margin-top: 1.6em;
            margin-bottom: 1.6em;
            color: black;
        }
        a,a:visited{
            color: red;
        }
        a:hover,a:active{
            text-decoration: underline;
        }
        .postTitle{
            text-align: center;
            font-size: 1.2em;     
            letter-spacing: 0.1em;
            font-weight: normal;
            margin-top: 1.4em;
            margin-bottom: 0.2em;
            padding-bottom: 0.2em;
           
        }
        .postTitle+header{
            text-align: center;
        }
        .postDate{
            font-size: 0.5em;
            letter-spacing: 0.125em;
            color: gray;
        }
        
    }
}

