---
---

.page {
    margin: 0 auto;
    padding: 20px;
    padding-top: 2.6em;
    max-width: 960px;

    .masthead{
        position: relative;

        #title{
            padding-left: 0;
            font-size: 0.9em;
            line-height: 0.9em;
            letter-spacing: 0.4em;
            color: #666666;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .social-list{
            position: absolute;
            top: -2px;
            right: 0;
        }
    }

    .container{
        padding-top: 1em;
        
        p{
            font-size: 1em;
            letter-spacing: 0.05em;
            line-height: 2em;
            padding-top: 1.6em;
            color: black;
        }
        a,a:visited{
            color: red;
        }
        a:hover,a:active{
            text-decoration: underline;
        }
        .postTitle{
            text-align: center;
            font-size: 1.4em;     
            letter-spacing: 0.125em;
            font-weight: normal;
            margin-top: 1.6em;
            margin-bottom: 0.2em;
            padding-bottom: 0.2em;
           
        }
        .postTitle+header{
            text-align: center;
        }
        .postDate{
            font-size: 0.3em;
            letter-spacing: 0.15em;
            color: gray;
        }
        
    }
}

