* {
  margin: 0;
  padding: 0;
}
.page #sidebar h4 {
  text-align: center;
  line-height: 60px;
}
/* 320+ 
------------------------------------------ */
@media only screen and (min-width: 20em) {
  #sidebar {
    width: 100%;
  }
}
/* 768+ 
  ------------------------------------------- */
@media only screen and (min-width: 48em) {
  #sidebar {
    width: 22%;
    float: left;
  }
}
